:root {
    --bujairi: #c7b8a6;
    --bujairi-dark: #b8a893;
    --bujairi-light: #efe7dd;
}

.bg-bujairi {
    background-color: var(--bujairi);
}

.bg-bujairi-dark {
    background-color: var(--bujairi-dark);
}

.text-bujairi {
    color: var(--bujairi);
}

.border-bujairi {
    border-color: var(--bujairi);
}

.btn-bujairi {
    background: var(--bujairi);
    color: white;
    transition: 0.3s;
}

    .btn-bujairi:hover {
        background: var(--bujairi-dark);
    }

body {
    font-family: 'Neo Sans Arabic', sans-serif;
}
