body {
    font-family: 'Noto Sans Arabic', sans-serif;
    background-color: #fdfdfd;
}

.hero-gradient {
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%);
}
/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #9e7922;
    border-radius: 10px;
}
/* Hide arrows on number input */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sticky-booking {
    position: sticky;
    top: 100px;
} 
